html,
body {
  height: 100%;
  font-family: var(--font-base);
  background-color: var(--gray-megalightest);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-base);
  margin: 0;

}

.container {
  background: var(--gray-megalightest);
  padding: 100px;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  display: flex;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  flex-wrap: nowrap;
  height: 100%;
  width: 80%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-section {
  padding: 30px;
  margin-bottom: 8%;
  flex: 1;
  margin-right: 30px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-section h2 {
  font-size: 28px;
  color: var(--darker);
  margin-bottom: 40px;
}

.form-section p {
  margin-bottom: 30px;
  font-size: 14px;
  color: var(--gray-dark);
}

mat-label {
  margin-bottom: 8px;
  font-weight: 600;
  color: var(--gray-dark);
  display: inline-block;
}

mat-form-field:first-child {
  margin-bottom: 16px;
}

input[type="text"],
input[type="password"],
button[mat-button] {
  width: 100%;
  font-size: 14px;
  box-sizing: border-box;
}

button[mat-button] {
  background-color: var(--primary);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 2em;
  transition: background-color 0.3s ease;
}

button[mat-button]:hover {
  background-color: var(--primary-dark);
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border-bottom: 2px solid var(--primary);
}


.error-message-container {
  margin-top: -10px;
  margin-bottom: 10px;
}

.error-message {
  color: var(--primary);
  font-size: 0.85rem;
  font-style: italic;
}

#error {
  margin-top: 15px;
  color: var(--primary);
  font-weight: 600;
  text-align: center;
  font-size: 0.9rem;
  display: none;
}

.image-section {
  background: linear-gradient(to bottom right, var(--primary-light), var(--primary));
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  flex: 1;
  position: relative;
}

.circle-image {
  background-color: white;
  border-radius: 50%;
  padding: 20px;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.circle-image img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

/* responsive: cuando la pantalla es menor que 768px (tablet y móvil) */
@media (max-width: 768px) {
  .container {
    padding: 40px;
  }

  .login-box {
    flex-direction: column;
  }

  .image-section {
    padding: 20px 0;
  }

  .circle-image {
    margin: 0 auto;
    width: 169px;
    height: 169px;
    padding: 15px;
  }

  .form-section {
    padding: 20px;
  }
}

/* responsive para móviles pequeños */
@media (max-width: 400px) {
  .container {
    padding: 20px;
  }

  .form-section h2 {
    font-size: 18px;
  }

  input[type="text"],
  input[type="password"] {
    font-size: 13px;
    padding: 8px;
  }

  button[mat-button] {
    padding: 8px;
    font-size: 14px;
  }
}