<div class="container">
  <div class="login-box">
    <div class="form-section">
      <h2>Iniciar Sesión</h2>
      <form [formGroup]="loginForm">
        <mat-form-field appearance="outline" class="formulario">
          <mat-label>Nombre de usuario</mat-label>
          <input matInput id="username" formControlName="username" placeholder="Tu usuario" required />
          <mat-error *ngIf="username?.invalid && (username?.touched || username?.dirty)">{{
            getFieldErrorMessage('username')}}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="formulario">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" id="password" formControlName="password" placeholder="*******" required />
          <mat-error *ngIf="password?.invalid && (password?.touched || password?.dirty)">{{
            getFieldErrorMessage('password')}}</mat-error>
        </mat-form-field>
        <button mat-button (click)="login()">Entrar</button>
        <p id="error">Usuario o contraseña erróneos.</p>
      </form>
    </div>
    <div class="image-section">
      <div class="circle-image">
        <img src="./assets/img/logoCluster.png" alt="Login illustration" onclick="window.location.href='/main/catalogue'" />
      </div>
    </div>
  </div>
</div>