.container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
  background: var(--gray-megalightest);
  padding: 2em;
  min-height: 100vh;
}

.left-side {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: 5em;
  margin-right: 5em;
}


.form {
  width: 35em;
  background-color: white;
  box-shadow: 3px 3px 5px rgb(190, 190, 190);
  padding: 4em;
  display: grid;
  gap: 1em;
  margin: 1em 0;
  border-radius: 8px;

}

mat-form-field:first-child {
  margin-bottom: 25px;
}

h2 {
  font-size: 28px;
  margin-top: 0%;
  color: var(--darker);
}

.formulario {
  width: 100%;
}

#description {
  resize: none;
}

.mat-form-field-outline {
  background-color: var(--primary);
}

button[mat-button] {
  background-color: var(--primary);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(224, 60, 49, 0.08);
  font-family: var(--font-base);
  letter-spacing: 0.04em;
  transition: background-color 0.3s, box-shadow 0.3s;
  color: white;
  width: 60%;
  font-size: 14px;
  font-weight: bold;
  box-sizing: border-box;
  margin: 1em;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-left: 0.1em;
}

button[mat-button]:hover {
  background-color: var(--primary-dark);
  box-shadow: 0 4px 16px rgba(224, 60, 49, 0.13);
}



button[mat-button] .back {
  background-color: var(--primary);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  padding: 0.5em 1.2em;
  font-size: 14px;
  box-shadow: 0 2px 10px rgba(224, 60, 49, 0.08);
  width: 10px;
}

.back:hover {
  background-color: var(--primary-dark);
  box-shadow: 0 4px 16px rgba(224, 60, 49, 0.13);
}

::ng-deep .mat-mdc-text-field-wrapper {
  background-color: white;
}

mat-label {
  color: var(--gray-dark);
  font-weight: 600;
}