.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c5bebe;
  padding: 0.2rem 0;
}

.logo {
  height: 62px;
  object-fit: contain;
  margin-left: 40rem;
}

.logoCluster {
  height: 32px;
  object-fit: contain;
}
