<div class="container">
  <div class="sign-up-box">
    <button mat-icon-button class="back-button" (click)="goBack()" aria-label="Volver atrás">
      <mat-icon class="back-icon">arrow_back</mat-icon>
    </button>
    <div class="image-section">
      <div class="circle-image" (mousemove)="onMouseMove($event)" (mouseenter)="showTooltip = true"
        (mouseleave)="showTooltip = false" style="cursor: pointer; position: relative;">
        <img src="./assets/img/logoCluster.png" alt="Login illustration"
          onclick="window.location.href='/main/catalogue'" />
        <span class="custom-tooltip" [style.left.px]="tooltipX" [style.top.px]="tooltipY"
          [class.visible]="showTooltip">Ver catálogo</span>
      </div>
    </div>
    <div class="form-section">
      <h2 class="form-title">Registro</h2>
      <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
        <div class="inputs1">
          <mat-form-field appearance="outline" class="formulario">
            <mat-label>Nombre de usuario</mat-label>
            <input matInput id="login" formControlName="login" placeholder="Tu usuario" required />
            <mat-error *ngIf="login?.invalid && (login?.touched || login?.dirty)">
              {{ getFieldErrorMessage('login') }}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="formulario">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" id="name" formControlName="name" placeholder="Tu nombre" required />
            <mat-error *ngIf="name?.invalid && (name?.touched || name?.dirty)">
              {{ getFieldErrorMessage('name') }}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field-custom">
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="email" placeholder="Tu email" />
            <mat-error *ngIf="email?.invalid && (email?.touched || email?.dirty)">
              {{ getFieldErrorMessage('email') }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="inputs2">
          <mat-form-field appearance="outline" class="formulario">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" id="password" formControlName="password" placeholder="**********"
              required />
            <mat-error *ngIf="password?.invalid && (password?.touched || password?.dirty)">
              {{ getFieldErrorMessage('password') }}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="formulario">
            <mat-label>Apellidos</mat-label>
            <input matInput id="surname" formControlName="surname" placeholder="Tu apellido" required />
            <mat-error *ngIf="surname?.invalid && (surname?.touched || surname?.dirty)">
              {{ getFieldErrorMessage('surname') }}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="formulario">
            <mat-label>Teléfono</mat-label>
            <input matInput id="phone" formControlName="phone" placeholder="Tu teléfono" required />
            <mat-error *ngIf="phone?.invalid && (phone?.touched || phone?.dirty)">
              {{ getFieldErrorMessage('phone') }}
            </mat-error>
          </mat-form-field>
        </div>

        <button mat-raised-button class="sign-up-button" color="primary" type="submit" [disabled]="signUpForm.invalid">
          <span *ngIf="!isSubmitting">Registrarse</span>
          <span *ngIf="isSubmitting">Registrando...</span>
        </button>
      </form>

      <div class="login-redirect">
        ¿Ya tienes cuenta?
        <a routerLink="/main/login" class="login-link">Iniciar Sesión</a>
      </div>
    </div>
  </div>
</div>