.header {
  background-color: var(--gray-darkest);
  color: #fff;
  padding: 5px 10px 10px 5px;
  text-align: center;
  max-height: 60px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 100%;
}

.logo {
  width: 200px;
  height: 80px;
  margin-right: 50px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.iconContainer{
  margin: 0;
  padding: 0;
}

.icon {
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary);
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .header {
    padding: 5px 20px 15px 20px;
  }

  .container {
    flex-direction: column;
  }

  .logo {
    width: 150px;
    height: 60px;
    margin-bottom: 10px;
  }

  .title {
    font-size: 18px;
  }

  .account {
    font-size: 24px;
  }
}