<header class="header">
  <div class="container">
    <div class="logo">
      <img src="assets/img/logoCluster.png" alt="Logo Cluster TIC Galiza" (click)="goToCatalogue()">
    </div>
    <div class="iconContainer" *ngIf="usersService.isLoggedIn(); else guestMenu">
      <span (click)="redirectToProfile()" class="display-name">{{ getDisplayName() }}</span>
      <button mat-fab [matMenuTriggerFor]="userMenu" class="profile-button">
        <div class="profile-image-container">
          <img *ngIf="getProfileImage()" [src]="getProfileImage()" alt="Profile" class="profile-image">
          <mat-icon *ngIf="!getProfileImage()" class="icon">account_circle</mat-icon>
        </div>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="redirectToProfile()">

          {{ isAdmin() ? 'Perfil Admin' : (isCandidate() ? 'Candidaturas' : (isCompany() ? 'Perfil Empresa' : ''))
          }}

        </button>
        <button mat-menu-item *ngIf="isCandidate()" [routerLink]="['/main/candidateDetails']">
          Ver Perfil
          </button>
        <button mat-menu-item *ngIf="isCompany()" [routerLink]="['/main/createOffer']">
          Añadir Oferta
        </button>
        <button mat-menu-item (click)="logout()">Cerrar sesión</button>
      </mat-menu>
    </div>

    <ng-template #guestMenu>
      <div class="guest-buttons">
        <button mat-button (click)="goToLogin()">Iniciar sesión</button>
        <button mat-button (click)="goToRegister()">Registrarse</button>
      </div>
    </ng-template>
  </div>
</header>