<div class="profile-container">
  <div class="profile-header-card">
    <div class="header-content">
      <h1>Perfil de Administrador</h1>
    </div>
  </div>

  <div class="content-section">
    <div class="section-title-button">
      <h2>Listado de Empresas</h2>
      <button class="add-item-button" *ngIf="isAdmin()" [routerLink]="['/main/adminprofile/newcompany']" (click)="
        navigateToFormNewCompany()">Añadir empresa</button>
    </div>

    <table class="data-list-table" *ngIf="companies.length > 0">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>CIF</th>
          <th>Teléfono</th>
          <th>Dirección</th>
          <th>Web</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let company of companies">
          <td>{{ company.id }}</td>
          <td>{{ company.name }}</td>
          <td>{{ company.cif }}</td>
          <td>{{ company.phone }}</td>
          <td>{{ company.address }}</td>
          <td>{{ company.web }}</td>
        </tr>
      </tbody>
    </table>
    <p class="empty-list-message" *ngIf="companies.length === 0">No hay empresas registradas.</p>
  </div>
</div>