<div class="global-container">
  <div class="sort-controls">
    <div class="sort-content">
      <span>Ordenar por:</span>
      <button mat-button (click)="sortOffers('releaseDate')" [class.active]="sortBy === 'releaseDate'">
        Fecha
        <span *ngIf="sortBy === 'releaseDate'">
          <span *ngIf="sortDirection === 'desc'">&#9660;</span>
          <span *ngIf="sortDirection === 'asc'">&#9650;</span>
        </span>
      </button>
      <button mat-button (click)="sortOffers('title', 'desc')" [class.active]="sortBy === 'title'">
        Título
        <span *ngIf="sortBy === 'title'">
          <span *ngIf="sortDirection === 'desc'">&#9660;</span>
          <span *ngIf="sortDirection === 'asc'">&#9650;</span>
        </span>
      </button>
      <button mat-button (click)="sortOffers('company', 'desc')" [class.active]="sortBy === 'company'">
        Empresa
        <span *ngIf="sortBy === 'company'">
          <span *ngIf="sortDirection === 'desc'">&#9660;</span>
          <span *ngIf="sortDirection === 'asc'">&#9650;</span>
        </span>
      </button>
    </div>
  </div>
  <div class="sort-controls">
    <div class="search-bar">
      <span class="icono izquierda"><mat-icon>search</mat-icon></span>
      <input class="search-input" type="text" placeholder="Buscar ofertas por título o descripción..."
        [(ngModel)]="searchTerm" (input)="getFilteredOffers()" class="search-input" />
    </div>
  </div>
  <div class="grid-wrapper">
    <mat-grid-list class="content" [cols]="gridCols" rowHeight="240px" gutterSize="24px">
      <mat-grid-tile *ngFor="let offer of jobOffers">
        <mat-card class="card">
          <mat-card-title #titleElement [matTooltip]="isTruncated(titleElement) ? offer.title : ''">
            {{ offer.title }}
          </mat-card-title>
          <mat-card-subtitle>{{ offer.company?.name }}</mat-card-subtitle>
          <mat-card-subtitle>{{ offer.email }}</mat-card-subtitle>
          <mat-card-content style="display:none;">{{ offer.description }}</mat-card-content>
          <mat-card-actions *ngIf="!isCompany()">
            <button mat-raised-button color="primary" class="apply-button" (click)="aplicarAOferta(offer)"
              [disabled]="appliedOfferIds.includes(offer.id!)">
              {{ appliedOfferIds.includes(offer.id!) ? 'Inscrito' : 'Inscribirse' }}
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>