.global-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  height: 100%;
  width: 100%;
  padding: 1rem 0 0 0;
  box-sizing: border-box;
  position: relative;
  overflow-y: auto;
}

@media (min-width: 768px) {
  .global-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 13% auto;
    padding: 5rem 0 0 0;
    position: fixed;
  }
}


.content {
  margin: 1em auto;
  padding-top: 20px;
  max-width: 1300px;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .content {
    padding-top: 80px;
  }
}

.sort-controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  width: auto;
  text-align: start;
  border-bottom: 3px solid var(--primary);
  justify-content: center;
}

.sort-controls:first-of-type {
  margin-left: 1rem;
  margin-right: 1rem;
}

.sort-controls:nth-of-type(2) {
  margin-right: 1rem;
  margin-left: 1rem;
}

@media (min-width: 768px) {
  .sort-controls:first-of-type {
    margin-left: 7rem;
  }

  .sort-controls:nth-of-type(2) {
    margin-right: 7rem;
  }
}

.sort-controls span:first-of-type {
  font-weight: 600;
  color: var(--gray-dark);
  font-size: 0.9rem;
  margin-right: 5px;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .sort-controls span:first-of-type {
    font-size: 1.05rem;
  }
}

.sort-controls button {
  min-width: 80px;
  padding: 8px 15px;
  margin: 5px;
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  color: #666;
  border: 1px solid #e0e0e0;
  background-color: #f8f8f8;
  box-shadow: none;
}

.sort-controls button:hover {
  background-color: #eef;
  color: var(--primary);
  border-color: #a0a8e0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.sort-controls button.active {
  background-color: var(--primary);
  color: white;
  border-color: var(--primary);
  box-shadow: 0 4px 10px rgba(63, 81, 181, 0.3);
  transform: translateY(-2px);
}

.sort-controls button span span {
  margin-left: 8px;
  font-size: 1em;
  vertical-align: middle;
}

.sort-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
}


.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f2f5;
  border-radius: 25px;
  padding: 8px 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  width: auto;
  margin: 10px auto;
  transition: box-shadow 0.3s ease;
  box-sizing: border-box;
}

@media (min-width: 500px) {
  .search-bar {
    min-width: 30rem;
  }
}

.search-bar:focus-within {
  box-shadow: 0 0 0 3px var(--primary);
}

.search-bar .icono.izquierda mat-icon {
  color: var(--gray-dark);
  margin-right: 10px;
  font-size: 24px;
}

.search-input {
  flex-grow: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 5px 0;
  font-size: 1rem;
  color: var(--gray-darkest);
  width: 100%;
}

.search-input::placeholder {
  color: var(--gray-lightest);
}

mat-grid-list {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
}

.grid-wrapper {
  max-height: calc(100vh - 160px);
  overflow-y: auto;
  padding-top: 20px;
  padding-bottom: 40px;
  grid-column: span 1;
  scrollbar-width: none;
}

@media (min-width: 768px) {
  .grid-wrapper {
    padding-top: 40px;
    padding-bottom: 80px;
    grid-column: span 2;
  }
}


.grid-tile {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 100%;
}

.card {
  width: 100%;
  height: 100%;
  max-height: 220px;
  min-height: 180px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #f8f9fa;
  border-radius: 9px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  padding: 16px;
  box-sizing: border-box;
  text-align: left;
  isolation: isolate;
  min-width: 0;
}


mat-card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.2rem;
  /* Ajustar tamaño para móvil */
  font-family: "Montserrat", "Poppins", "Segoe UI", Arial, sans-serif;
  padding-bottom: 0.3em;
  margin-bottom: 10px;
  /* Ajustar margen */
  border-bottom: 3px solid var(--primary);
  width: 100%;
  display: block;
}

@media (min-width: 768px) {
  mat-card-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
}

mat-card-subtitle {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 0.9rem;
  color: #A3999A;
  padding-bottom: 0.5em;
  margin-bottom: 0.2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-word;
}

@media (min-width: 768px) {
  mat-card-subtitle {
    font-size: 1rem;
  }
}

mat-card-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: auto;
}

.apply-button {
  padding: 10px 20px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 1rem;
  margin-left: 0;
  box-shadow: 0 2px 10px rgba(224, 60, 49, 0.08);
  width: 80%;
  max-width: 200px;
}

@media (min-width: 768px) {
  .apply-button {
    margin-left: auto;
    margin-right: 0;
    width: auto;
  }
}

@media (max-width: 599px) {
  .card {
    padding: 15px;
  }

  mat-card-title {
    font-size: 1.2rem;
    padding-bottom: 0.2em;
    margin-bottom: 8px;
  }

  mat-card-subtitle {
    font-size: 0.9rem;
    padding-bottom: 0.3em;
  }
}