<!--
<div class="sort-controls">
  <div class="sort-content">
    <span>Ordenar por:</span>
    <button mat-button (click)="sortOffers('releaseDate')" [class.active]="sortBy === 'releaseDate'">
      Fecha
      <span *ngIf="sortBy === 'releaseDate'">
        <span *ngIf="sortDirection === 'desc'">&#9660;</span>
        <span *ngIf="sortDirection === 'asc'">&#9650;</span>
      </span>
    </button>
    <button mat-button (click)="sortOffers('title', 'desc')" [class.active]="sortBy === 'title'">
      Título
      <span *ngIf="sortBy === 'title'">
        <span *ngIf="sortDirection === 'desc'">&#9660;</span>
        <span *ngIf="sortDirection === 'asc'">&#9650;</span>
      </span>
    </button>
  </div>
  <button mat-button (click)="onSortChange('id')" [class.active]="sortBy === 'id'">
    Empresa
    <span *ngIf="sortBy === 'id'">
      <span *ngIf="sortDirection === 'desc'">&#9660;</span>
      <span *ngIf="sortDirection === 'asc'">&#9650;</span>
    </span>
  </button>
</div>
-->


<div class="offer-content">
  <mat-grid-list class="content" [cols]="gridCols" rowHeight="2.5:1" gutterSize="10px">
    <mat-grid-tile *ngFor="let offer of jobOffers">
      <mat-card class="card">
        <mat-card-title>{{ offer.title }}</mat-card-title>
        <mat-card-subtitle>{{
          offer.releaseDate | date : "dd/MM/yyyy HH:mm"
          }}</mat-card-subtitle>
        <mat-card-content> </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="jobOffers.length === 0">
      <mat-card class="card-empty">
        <mat-card-title>No hay ofertas disponibles</mat-card-title>
        <mat-card-content>
          <p>Parece que no se han encontrado ofertas de trabajo.</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>