<div class="offer-list-container">
  <mat-grid-list [cols]="gridCols" [rowHeight]="'300px'" gutterSize="8px">
    <mat-grid-tile *ngFor="let offer of jobOffers">
      <mat-card class="offer-card" [class.inactive-offer-card]="!offer.active">
        <mat-card-title class="offer-title" [matTooltip]="offer.title">
          {{ offer.title }}
        </mat-card-title>
        <mat-card-actions class="toggle-action-container">
          <mat-slide-toggle [checked]="offer.active" (change)="onToggleOfferStatus(offer)" color="primary"
            class="status-toggle" [matTooltip]="offer.active ? 'Desactivar oferta' : 'Activar oferta'">
            {{ offer.active ? 'Activa' : 'Inactiva' }}
          </mat-slide-toggle>
        </mat-card-actions>

        <div class="company-info">
          <mat-card-subtitle class="company-name">{{ offer.company?.name }}</mat-card-subtitle>
          <mat-card-subtitle class="offer-date">
            <mat-icon class="clock-icon">access_time</mat-icon>
            {{ getRelativeDate(offer.releaseDate) }}
          </mat-card-subtitle>
          <mat-card-subtitle class="offer-email">{{ offer.email }}</mat-card-subtitle>
        </div>

        <div class="offer-description">
          <mat-card-content>
            {{ offer.description }}
          </mat-card-content>
        </div>

        <mat-card-actions class="offer-actions">
          <button mat-raised-button color="primary" class="edit-button" *ngIf="offer.id !== undefined"
            [routerLink]="['/main/editOffer', offer.id]" [disabled]="!offer.active"> Editar
          </button>
          <button mat-raised-button color="accent" class="details-button" *ngIf="offer.id !== undefined"
            (click)="goToOfferDetails(offer.id)" [disabled]="!offer.active"> Ver detalles
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>